.hyperclock.wrapper {
  display: flex;
  order: 2;
  margin-left: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hyperclock.wrapper .time {
  display: flex;
  padding: 12px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
  font-weight: normal;
  font-size: .8em;
  border-radius: 8px;
  cursor: pointer;
}